.container {
  background-color: #282c34;
  text-align: left;
  min-height: 100vh;
  color: white;

  .content {
    padding: 1rem;
    .main-title {
      font-size: 3rem;
    }

    .main-subtitle {
      margin-top: 2rem;
      font-size: 2rem;
    }
  }
}
