.container {
  text-align: center; }
  .container .questions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem; }
  .container .btn {
    margin-bottom: 2rem;
    border-radius: 4px;
    padding: 4px 11px;
    width: 300px;
    height: 32px;
    color: #fff;
    font-size: 14px;
    background-color: #1890ff;
    border-color: #1890ff; }
